* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive, serif;
}

.container {
    background: url("restbg.jpg") no-repeat center center/cover;
    min-height: 100vh;
    width: 100%;
    padding: 30px 40px;
    border: 4px solid gray;
    border-radius: 10px;
}

.box {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.item {
    background-color: #eef7fb;
    padding: 15px 30px;
}

.item a {
    margin: 0 18px;
    font-weight: bold;
    color: black;
    text-decoration: underline;
    font-size: 16px;
}

.menu-container {
    width: 100%;
}

.menu-container h1 {
    font-size: 70px;
    color: whitesmoke;
    letter-spacing: 6px;
    margin-bottom: 35px;
    text-align: center;
    text-decoration: underline;
}

.menu-items {
    display: flex;
    gap: 20px;
    justify-content: center;   
    align-items: flex-start;
    flex-wrap: nowrap;
}

.menu-card {
    background-color: blanchedalmond;
    width: 180px;
    padding: 12px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 18px rgba(137, 72, 116, 0.35);
}

.menu-card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 10px;
}

.menu-card h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.menu-card p {
    font-size: 14px;
    color: rebeccapurple;
}
@media (max-width: 1200px) {
    .menu-items {
        flex-wrap: wrap;
        justify-content: center;
    }
}
.footer {
    background-color:beige;
    width: 100%;
    text-align: center;
    color: rgb(171, 68, 68);
    font-size: 14px;
    bottom: 0%;
}
